<h2>Task list:</h2>

{{#if todos.length}}
    <ul>
    {{#each todos}}
        <li class="todo">
            <form action="/complete" method="POST">
            <label>
                {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span class="completed">{{title}}</span>
                {{else}}
                <input type="checkbox" name="completed">
                <span>{{title}}</span>
                {{/if}}

                <input type="hidden" value="{{_id}}" name="id">

                <button class="btn btn-small">Save</button>
                


            </label>
            </form>
            <form action="/delete" method="POST">
            <div class="input">
            <input type="hidden" value="{{_id}}" name="id">
            </div>
            <button type="submit">Delete</button>

            </form>
        </li>
    {{/each}}
    </ul>
{{else}}
<p>No task!</p>
{{/if}}

