<h2>Task list:</h2>

{{#if todos.length}}
    <ul>
    {{#each todos}}
        <li class="todo">
            <label>
            <form action="/complete" method="POST">
            
                {{#if completed}}
                    <input type="checkbox" checked name="completed">
                    <span class="completed">{{title}}</span>
                {{else}}
                    <input type="checkbox" name="completed">
                    <span>{{title}}</span>
                {{/if}}

                
                
                <div><input type="hidden" value="{{_id}}" name="id">
                    <button class="btn btn-small">Save</button>
                
            </form>
            
                
            <form action="/delete" method="POST">
               
                
                    <input type="hidden" value="{{_id}}" name="id">
                    <button class="btn btn-small" type="submit">Delete</button>
                </div>
            
            </form>
            </label>
        </li>
    {{/each}}
    </ul>
{{else}}
<p>No task!</p>
{{/if}}

